.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modal {
  background-color: rgb(161, 132, 132);
  color: black;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.hidden {
  display: none;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
